extends layout/layout

block content
	.container
		.row
			.col-6
				form(action="").form
					input(class="form__input" ,type="text" placeholder="Input url")
					button(class="form__btn") Send
		.items
