// Margin center

.margin--center
	margin 0 auto

.margin--auto
	margin auto
	
.margin--auto-5
	margin 0.3125rem auto

.margin--auto-10
	margin 0.625rem auto
	
.margin--auto-15
	margin 0.9375rem auto
	
.margin--auto-20
	margin 1.25rem auto
	
.margin--auto-25
	margin 1.5625rem auto
	
.margin--auto-30
	margin 1.875rem auto
	
.margin--auto-35
	margin 2.1875rem auto
	
.margin--auto-40
	margin 2.5rem auto
	
.margin--auto-45
	margin 2.8125rem auto
	
.margin--auto-50
	margin 3.125rem auto
	
.margin--auto-55
	margin 3.4375rem auto
	
.margin--auto-60
	margin 3.75rem auto
	
.margin--auto-65
	margin 4.0625rem auto
	
.margin--auto-70
	margin 4.375rem auto
	
.margin--auto-75
	margin 4.6875rem auto
	
.margin--auto-80
	margin 5rem auto
	
.margin--auto-85
	margin 5.3125rem auto
	
.margin--auto-90
	margin 5.625rem auto
	
.margin--auto-95
	margin 5.9375rem auto
	
.margin--auto-100
	margin 6.25rem auto
	
.margin--auto-105
	margin 6.5625rem auto
	
// Top Margin

.margin--t-0
	margin-top 0
	
.margin--t-5
	margin-top 0.3125rem

.margin--t-10
	margin-top 0.625rem
	
.margin--t-15
	margin-top 0.9375rem
	
.margin--t-20
	margin-top 1.25rem
	
.margin--t-25
	margin-top 1.5625rem
	
.margin--t-30
	margin-top 1.875rem
	
.margin--t-35
	margin-top 2.1875
	
.margin--t-40
	margin-top 2.5rem
	
.margin--t-45
	margin-top 2.8125rem
	
.margin--t-50
	margin-top 3.125rem
	
.margin--t-55
	margin-top 3.4375rem
	
.margin--t-60
	margin-top 3.75rem
	
.margin--t-65
	margin-top 4.0625rem
	
.margin--t-70
	margin-top 4.375rem
	
.margin--t-75
	margin-top 4.6875rem
	
.margin--t-80
	margin-top 5rem
	
.margin--t-85
	margin-top 5.3125rem
	
.margin--t-90
	margin-top 5.625rem
	
.margin--t-95
	margin-top 5.9375rem
	
.margin--t-100
	margin-top 6.25rem
	
.margin--t-105
	margin-top 6.5625rem
	
// Bottom Margin

.margin--b-0
	margin-bottom 0
	
.margin--b-5
	margin-bottom 0.3125rem

.margin--b-10
	margin-bottom 0.625rem
	
.margin--b-15
	margin-bottom 0.9375rem
	
.margin--b-20
	margin-bottom 1.25rem
	
.margin--b-25
	margin-bottom 1.5625rem
	
.margin--b-30
	margin-bottom 1.875rem
	
.margin--b-35
	margin-bottom 2.1875rem
	
.margin--b-40
	margin-bottom 2.5rem
	
.margin--b-45
	margin-bottom 2.8125rem
	
.margin--b-50
	margin-bottom 3.125rem
	
.margin--b-55
	margin-bottom 3.4375rem
	
.margin--b-60
	margin-bottom 3.75rem
	
.margin--b-65
	margin-bottom 4.0625rem
	
.margin--b-70
	margin-bottom 4.375rem
	
.margin--b-75
	margin-bottom 4.6875rem
	
.margin--b-80
	margin-bottom 5rem
	
.margin--b-85
	margin-bottom 5.3125rem
	
.margin--b-90
	margin-bottom 5.625rem
	
.margin--b-95
	margin-bottom 5.9375rem
	
.margin--b-100
	margin-bottom 6.25rem
	
.margin--b-105
	margin-bottom 6.5625rem
