for i in [0...200]
	if i % 2  == 0
		.padding--{i}
			padding i + 0px
			@media (max-width: 1200px)
				.padding--xl-{i}
					padding i + 0px
			@media (max-width: 992px)
				.padding--lg-{i}
					padding i + 0px
			@media (max-width: 768px)
				.padding--md-{i}
					padding i + 0px
			@media (max-width: 576px)
				.padding--sm-{i}
					padding i + 0px
			@media (max-width: 460px)
				.padding--xs-{i}
					padding i + 0px
		.padding--l-{i}
			padding-left i + 0px
			@media (max-width: 1200px)
				.padding--xl-l-{i}
					padding-left i + 0px
			@media (max-width: 992px)
				.padding--lg-l-{i}
					padding-left i + 0px
			@media (max-width: 768px)
				.padding--md-l-{i}
					padding-left i + 0px
			@media (max-width: 576px)
				.padding--sm-l-{i}
					padding-left i + 0px
			@media (max-width: 460px)
				.padding--xs-l-{i}
					padding-left i + 0px
		.padding--r-{i}
			padding-right i + 0px
			@media (max-width: 1200px)
				.padding--xl-r-{i}
					padding-right i + 0px
			@media (max-width: 992px)
				.padding--lg-r-{i}
					padding-right i + 0px
			@media (max-width: 768px)
				.padding--md-r-{i}
					padding-right i + 0px
			@media (max-width: 576px)
				.padding--sm-r-{i}
					padding-right i + 0px
			@media (max-width: 460px)
				.padding--xs-r-{i}
					padding-right i + 0px
		.padding--t-{i}
			padding-top i + 0px
			@media (max-width: 1200px)
				.padding--xl-t-{i}
					padding-top i + 0px
			@media (max-width: 992px)
				.padding--lg-t-{i}
					padding-top i + 0px
			@media (max-width: 768px)
				.padding--md-t-{i}
					padding-top i + 0px
			@media (max-width: 576px)
				.padding--sm-t-{i}
					padding-top i + 0px
			@media (max-width: 460px)
				.padding--xs-t-{i}
					padding-top i + 0px
		.padding--b-{i}
			padding-bottom i + 0px
			@media (max-width: 1200px)
				.padding--xl-b-{i}
					padding-bottom i + 0px
			@media (max-width: 992px)
				.padding--lg-b-{i}
					padding-bottom i + 0px
			@media (max-width: 768px)
				.padding--md-b-{i}
					padding-bottom i + 0px
			@media (max-width: 576px)
				.padding--sm-b-{i}
					padding-bottom i + 0px
			@media (max-width: 460px)
				.padding--xs-b-{i}
					padding-bottom i + 0px